* {
    font-family: $font-family-monospace;
}

html {
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}

#nav {
    transition: 0.5s;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            color: #fff;
            &:hover {
                color: #fff;
                opacity: 0.75;
            }
        }
    }
}

.nav-item {
    .nav-link {
        color: #fff;
    }
}

.nav-scroll {
    background: #fff;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: #000;
                &:hover {
                    color:  rgb(74,76,179);
                    opacity: 0.75;
                }
            }
        }
    }

    .nav-item {
        .nav-link {
            color: #000;
            &:hover {
                color:  rgb(74,76,179);
                opacity: 0.75;
            }
        }
    }
}

.login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.masthead-overlay {
    background: rgb(74,76,179);
    background: linear-gradient(54deg, rgba(74,76,179,1) 0%, rgba(206,156,156,1) 100%);
}

.profile {
    color: #fff;
    padding-top: 100px;
    .profile-avatar {
        img {
            position: relative;
            top: 25px;
            border-radius: 5px;
        }
    }
    .profile-details {
        .profile-name {
            font-size: 2.5rem;
            font-weight: 700;
            letter-spacing: 0.25rem;
            margin-bottom: 0px;
        }
        .profile-title {
            font-size: 1.2rem;
            margin-bottom: 50px;
        }
        .profile-contacts {
            .contact-list {
                font-size: 1.1rem;
                dt {
                    opacity: 0.6;
                }
                dd {
                    a {
                        color: #fff;
                    }
                }
            }
        }
        .profile-social {
            a {
                color: #fff;
                opacity: 0.6;
                font-size: 1.75rem;
                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
    }
}

.btn-file {
    color: #fff;
    background: rgb(74,76,179);
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 6px 16px;
    transition: 0.5s;
    &:hover {
        color: #fff;
        box-shadow: 0 0 8px 4px rgba(0,0,0,.28);
    }
}

.resume {
    .resume-title {
        font-size: 1rem;
        opacity: 0.5;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
    }
}

.skill {
    p {
        margin-bottom: 8px;
    }
    .skill-progress {
        height: 10px;
        width: 100%;
        background: #e9ecef;
        border-radius: 5px;
        .skill-progress-value {
            background: rgb(74,76,179);
            height: 100%;
            border-radius: 5px;
        }
    }
}

.project-card {
    .project-image {
        padding: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
    .project-details {
        border: 1px solid #f1f1f1;
        background: #fff;
    }
}

.anchor {
    position: relative;
    top: -125px;
}

.block {
    border-left: 2px solid rgb(74,76,179);
    padding-left: 25px;
    padding-bottom: 50px;
    .block-title {
        margin-bottom: 4px;
        text-transform: uppercase;
        color: rgb(74,76,179);
        font-weight: bold;
        letter-spacing: 0.2rem;
    }
    .block-period {
        font-size: 0.8rem;
        opacity: 0.75;
        .block-org {
            letter-spacing: 0.1rem;
        }
    }
    &:before {
        width: 12px;
        height: 12px;
        border: 2px solid rgb(74,76,179);
        position: absolute;
        content: "";
        border-radius: 50%;
        background-color: #fff;
        left: -7px;
    }
    &:last-of-type {
        padding-bottom: 8px;
    }
}

.softskill {
    text-align: center;
    .softskill-name {
        font-size: 1.25rem;
        text-transform: capitalize;
        color: rgb(74,76,179);
    }
    .softskill-desc {
        opacity: 0.75;
    }
}
